.DS_Store
.quarto/
_site/
**/*.quarto_ipynb*
**/*_files/
teaching/cds-303/data/
node_modules/
public/
.quartz-cache/
prof
tsconfig.tsbuildinfo
private/
.replit
replit.nix

/.quarto/

**/*.quarto_ipynb
